/* Base CSS */
html,
body,
* {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

html,
body {
    background: rgb(15,1,36);
    background: linear-gradient(30deg, rgba(15,1,36,0.9752275910364145) 3%, rgba(6,14,55,1) 40%) cover no-repeat;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    letter-spacing: .75px;
}

h3 {
    font-size: 1.25rem;
    text-align: center;
}

h5 {
    font-size: .85rem;
}

/* Global Variables */
:root {
    --white:#ecebeb;
    --color-main:#e60ba1;
}

/* ==========
Navigation
=============*/
.navbar {
    display: flex;
    justify-content: center;
}

.fas .fa-film {
    margin-right: 0;
}

.navbar > *,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: var(--white);
    transition: .2s;
    text-transform: uppercase;
}

form {
    display: flex;

    width: 90%;
    margin: 0 auto;
}

.search-input{
    height: 40px;
    border: none;
    outline: none;
    padding: 0 18px;
    border-radius: 25px 0 0 25px;
    box-sizing: border-box;
    color: black;
    width: 300px;
    display: inline-block;
}

.search-submit {
    height: 40px;
    border-radius: 0 25px 25px 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    width: 125px;
    background-color: var(--color-main);
    transition: .25s;
}

.search-submit:hover {
    background-color: #b90b84;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--color-main);
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

/* ==========
Top
=============*/
/* Header */
h1 {
    color: var(--color-main);
    font-size: 1rem;
}

.hero {
    position: absolute;
    color: var(--color-main);
    bottom: 2.35rem;
    left: 2rem;
    z-index: 100;
}

.hero p {
    font-size: .80rem;
}

/* ==========
Mid
=============*/

/* Main-Mid */
.main-mid {
    display: flex;
    flex-direction: column;
}

/* PopMovies */
.section-popular {
    flex: 0 0 45%;
}

.popMovies {
    position: relative;
    padding: 0 .5rem;
}

.popMovies h4 {
    font-size: 1.20rem;
}

.popMovies-text {
    position: absolute;
    top: 50%;
    left: 4%;
    z-index: 1;

    padding: 0 .5rem;
    color: var(--white);
}

.popMovies-text p {
    font-family: 'Lato', sans-serif;
    font-size: .80rem;
    font-weight: 300;
    width: 90%;
}

.movie-img {
    border-radius: 5px;
    width: 100%;
    opacity: 0.5;
    transition: .2s;
}

.popMovies:hover > .movie-img {
    opacity: .8;
}

.section-popular {
    padding: .5rem 0;
}

.section-review {
    display: flex;
    flex-direction: column;

    padding: .5rem 0;
}

.do {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.img-img {
    -webkit-mask-image: linear-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* ==========
Footer
=============*/


.footer-box {
    padding: .75rem .85rem;
}

.moviedb-box {
    display: flex;
    justify-content: center;
}

.footer-sm {
    display: flex;
    justify-content: space-around;

    margin: .75rem 0;
}

.footer-right span {
    text-align: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}

.footer-contact {
    display: flex;
    justify-content: space-between;

    margin-bottom: .75rem;
    font-size: .85rem;
}

.footer-right {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Fontawesome */
.fab {
    font-size: 16px;
    margin-right: 1rem;
}
/* Carousel */
#carouselExampleFade,
.carousel {
    position: relative;
    background-color: #000;
}
.carousel-inner {
    max-height: 70vh;
}
.carousel-item img {
    opacity:.65;
}
.carousel-item {
    transition: transform 3.3s ease-in-out, opacity .5s ease-out
}

/* Slick */
.slick-item-box {
    max-width: 154px; 
}

.container > * {
    margin: 1.5em;
    padding: .75em;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}
.slick-slide img {
    margin: auto;
    margin-bottom: 5px;
    border-radius: 2px;
    width: 90%;
}

hr { 
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent,#666, transparent);
}

.genre-text {
    font-size: .80rem;
}

/* Button */
.btn {
    /* font-size: 1.35rem; */
    font-size: 1rem;
    font-weight: 300;
    /* padding:0 45px; */
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
	height: auto;
    color: var(--white);
    background-color: var(--color-main);
    transition: .25s
}

.btn:hover {
    background-color: transparent;
    border-color: var(--color-main);
    color: var(--white)
}

  /*============
      560px Media
  ============*/

  @media (min-width: 560px) {
      form {
          width: 80%;
      }

      h1 {
          font-size: 1.75rem;
      }

      .hero p {
          font-size: 1.25rem
      }

      .popMovies-text {
          top: 63%
      }

      .popMovies-text p {
          font-size: .95rem;
      }

      h3 {
          text-align: left;
      }

      h5 {
          font-size: 1.15rem;
      }

      .heading-ter {
          text-align: center;
      }
  }

    /*============
      760px Media
  ============*/

  @media (min-width: 760px) {
    .navbar-nav {
        width: auto;
    }

    form {
        width: auto;
    }

    .btn {
        font-size: 1.15rem;
        padding: 0 25px;
    }

    .footer-contact {
        font-size: 1rem;
    }

    .footer-right span {
        font-size: 15px;
    }
  }

/*============
1024px Media
============*/
@media (min-width: 1024px) {
    .hero {
    bottom: 6rem;
    left: 5rem;
    }

    h1 {
        font-size: 6rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .btn {
        font-size: 1.35rem;
        padding: 0 45px;
    }

    .main-mid {
        flex-direction: row;
    }

    .popMovies-text {
        top: 58%;
    }

    .heading-ter {
        text-align: right;
        margin-right: 12px;
    }

    .genre-text {
        font-size: .90rem;
    }

    .navbar {
        justify-content: space-between;
    }

    .search-input {
        height: 50px;
        padding: 0 25px;
    }

    .search-submit {
        height: 50px;
    }

    .nav-item:not(:last-child) {
        margin-right: 2.5rem;
    }

    .footer-box {
        display: flex;
        justify-content: space-around;
        padding: 3rem 0;
    }
    
    .moviedb-box {
        justify-content: flex-start;
    }
    
    .footer-sm {
        margin: .75rem 0;
        display: block;
    }

    .footer-sm i {
        font-size: 1.15rem;
    }

    .footer-contact {
        font-size: 1.15rem;
    }

    .footer-right span {
        text-align: left;
    }
}