.btn {
    /* font-size: 1.35rem; */
    font-size: 1rem;
    font-weight: 300;
    /* padding:0 45px; */
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
	height: auto;
    color: var(--white);
    background-color: var(--color-main);
    transition: .25s
}

.btn:hover {
    background-color: transparent;
    border-color: var(--color-main);
    color: var(--white)
}

@media (min-width: 760px) {

    .btn {
        font-size: 1.15rem;
        padding: 0 25px;
    }
}

@media (min-width: 1024px) {
    .btn {
        font-size: 1.35rem;
        padding: 0 45px;
    }
}